<div class="grid grid-cols-3 gap-4 px-1 py-1 sm:text-xl sm:px-4 lg:text-2xl">
    
    <div class="flex items-center gap-1">
        @if (PurchaseOption == VioletPurchaseOption.Leaf)
        {
            <svg class="border border-text1 rounded shrink-0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path fill="#44403C" d="M17 8C8 10 5.9 16.17 3.82 21.34l1.89.66l.95-2.3c.48.17.98.3 1.34.3C19 20 22 3 22 3c-1 2-8 2.25-13 3.25S2 11.5 2 13.5s1.75 3.75 1.75 3.75C7 8 17 8 17 8"/>
            </svg>
        }

        @if (PurchaseOption == VioletPurchaseOption.Offshoot)
        {
            <svg class="border border-text1 rounded shrink-0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path fill="#44403C" d="M9.127 21q-.546 0-.975-.338q-.429-.339-.585-.88l-1.027-4.05h10.923l-1.03 4.052q-.155.54-.584.878q-.429.339-.975.339zM12 8.673q.192-1.961 1.577-3.346t3.346-1.558q-.173 1.808-1.415 3.16T12.5 8.63V11h7.154v2.346q0 .671-.472 1.143t-1.143.472H6q-.671 0-1.143-.471q-.473-.473-.473-1.144V11H11.5V8.63q-1.766-.35-2.998-1.692T7.077 3.77q1.961.173 3.346 1.558T12 8.673"/>
            </svg>
        }

        @if (PurchaseOption == VioletPurchaseOption.WholePlant)
        {
            <svg class="border border-text1 rounded shrink-0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
                <path fill="#44403C" d="M200 144h-76.7l22.41-22.41a59.55 59.55 0 0 0 26.1 6.36a49.56 49.56 0 0 0 25.89-7.22c23.72-14.36 36.43-47.6 34-88.92a8 8 0 0 0-7.52-7.52c-41.32-2.43-74.56 10.28-88.93 34c-9.35 15.45-9.59 34.11-.86 52L120 124.68l-12.21-12.21c6-13.25 5.57-27-1.39-38.48C95.53 56 70.61 46.41 39.73 48.22a8 8 0 0 0-7.51 7.51C30.4 86.6 40 111.52 58 122.4a38.2 38.2 0 0 0 20 5.6a45 45 0 0 0 18.52-4.19L108.69 136l-8 8H56a8 8 0 0 0 0 16h9.59l13.21 59.47A15.89 15.89 0 0 0 94.42 232h67.17a15.91 15.91 0 0 0 15.62-12.53L190.42 160H200a8 8 0 0 0 0-16"/>
            </svg>
        }

        <p>
            @GetVioletPurchaseOptionName(PurchaseOption)
        </p>
    </div>
    
    <div class="flex items-center justify-center gap-3">
        
        <button @onclick="DecreaseQuantity">
            <svg class="@(Amount == 0 ? "fill-gray-400" : "fill-text1")" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                <path d="m19.031 4.281l-11 11l-.687.719l.687.719l11 11l1.438-1.438L10.187 16L20.47 5.719z"/>
            </svg>
        </button>
        
        <p class="flex items-center justify-center w-[15px] @(Amount == 0 ? "text-gray-400" : "text-text1")">@Amount</p>
        
        <button @onclick="IncreaseQuantity">
            <svg class="@(Amount == AvailableParts ? "fill-gray-400" : "fill-text1")" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                <path d="M12.969 4.281L11.53 5.72L21.812 16l-10.28 10.281l1.437 1.438l11-11l.687-.719l-.687-.719z"/>
            </svg>
        </button>
        
    </div>
    
    <div class="flex items-center justify-end">
        <p class="font-bold @(Amount > 0 ? "text-text1" : "text-gray-400")">@PartPrice</p>
        <svg class="@(Amount > 0 ? "fill-text1" : "fill-gray-400")" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
            <path d="M148 152a60 60 0 0 0 0-120H88a8 8 0 0 0-8 8v96H56a8 8 0 0 0 0 16h24v16H56a8 8 0 0 0 0 16h24v32a8 8 0 0 0 16 0v-32h48a8 8 0 0 0 0-16H96v-16ZM96 48h52a44 44 0 0 1 0 88H96Z"/>
        </svg>
    </div>
    
</div>

@code {
    [Parameter] public VioletPurchaseOption PurchaseOption { get; set; }
    [Parameter] public int Amount { get; set; }
    [Parameter] public double PartPrice { get; set; }
    [Parameter] public EventCallback IncreaseQuantity { get; set; }
    [Parameter] public EventCallback DecreaseQuantity { get; set; }
    [Parameter] public int AvailableParts { get; set; }

    private static string GetVioletPurchaseOptionName(VioletPurchaseOption option)
    {
        return option switch
        {
            VioletPurchaseOption.Leaf => "лист",
            VioletPurchaseOption.Offshoot => "детка",
            VioletPurchaseOption.WholePlant => "растение",
            _ => "лист"
        };
    }

    private async Task Increase()
    {
        if (IncreaseQuantity.HasDelegate)
        {
            await IncreaseQuantity.InvokeAsync();
        }
        
        StateHasChanged();
    }
    
    private async Task Decrease()
    {
        if (DecreaseQuantity.HasDelegate)
        {
            await DecreaseQuantity.InvokeAsync();
        }
        
        StateHasChanged();
    }
}