@inject NavigationManager NavigationManager
@page "/order"
@using System.Net.Mail
@using System.Text.RegularExpressions

<PageTitle>Заказ</PageTitle>
<HeadContent>
    <meta name="description" content="Заказ">
</HeadContent>

<MainContainer>

    <header class="hidden md:flex md:flex-col md:items-center md:gap-8">
        <h2 class="text-heading font-roboto font-bold text-6xl">
            Заказ
        </h2>
    </header>

    <OrderContainer>
        @if (AppState.Order != null)
        {
            <div class="w-full">
                <label for="name" class="block text-sm font-medium leading-6 @(IsNameValid == false ? "text-label" : "text-gray-900")">Имя</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="name" id="name" 
                           class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset @(IsNameValid == false ? "ring-label" : "ring-gray-300") placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-text1 sm:text-sm sm:leading-6" 
                           placeholder="Имя"
                           @bind="Name">
                </div>
            </div>
            <div class="w-full">
                <label for="phone" class="block text-sm font-medium leading-6 @(IsPhoneValid == false ? "text-label" : "text-gray-900")">Телефон@(IsPhoneValid == false ? " (в формате '79031234567')" : "")</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="phone" id="phone" 
                           class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset @(IsPhoneValid == false ? "ring-label" : "ring-gray-300") placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-text1 sm:text-sm sm:leading-6" 
                           placeholder="79031234567"
                           @bind="PhoneNumber">
                </div>
            </div>
            <div class="w-full">
                <label for="address" class="block text-sm font-medium leading-6 @(IsAddressValid == false ? "text-label" : "text-gray-900")">Адрес</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="address" id="address" 
                           class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset @(IsAddressValid == false ? "ring-label" : "ring-gray-300") placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-text1 sm:text-sm sm:leading-6" 
                           placeholder="Ходынский бульвар, 17, Москва, 125252"
                           @bind="Address">
                </div>
            </div>
            <div class="w-full">
                <label for="email" class="block text-sm font-medium leading-6 @(IsEmailValid == false ? "text-label" : "text-gray-900")">Email</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="email" name="email" id="email" autocomplete="email"
                           class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset @(IsEmailValid == false ? "ring-label" : "ring-gray-300") placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-text1 sm:text-sm sm:leading-6" 
                           placeholder="mail@email.com"
                           @bind="Email">
                </div>
            </div>
            <div class="w-full grid grid-cols-1 gap-4 p-1 border-dashed border border-text1 rounded">
                @foreach (var violet in AppState.Order.Violets)
                {
                    <div>
                        <p class="font-bold">@violet.Name</p>
                        @if (violet.SelectedLeafs > 0)
                        {
                            <div>Листьев @violet.SelectedLeafs шт. - @violet.CalculatedLeafsPrice руб.</div>
                        }

                        @if (violet.SelectedChildren > 0)
                        {
                            <div>Деток @violet.SelectedChildren шт. - @violet.CalculatedChildrenPrice руб.</div>
                        }

                        @if (violet.SelectedWholePlants > 0)
                        {
                            <div>Растений @violet.SelectedWholePlants шт. - @violet.CalculatedWholePlantsPrice руб.</div>
                        }
                    </div>
                }

                <p class="font-bold justify-self-end">Итого: @AppState.Order.TotalPrice руб.</p>
            </div>
        }
        else
        {
            <div>
                Ничего не заказано...
            </div>
        }
    </OrderContainer>

    @if (AppState.Order != null)
    {
        <nav class="w-full font-montserrat text-menutext text-lg flex items-center justify-between">
            <button class="uppercase p-3 cursor-pointer hover:border border-menutext" @onclick="ClearShoppingCart" title="Отменить заказ">
                Отменить
            </button>
            @{
                var orderBtnStyle = "uppercase border border-menutext p-3";
            }
            
            @if (IsOrderButtonEnable)
            {
                orderBtnStyle += " hover:bg-text1 cursor-pointer";
                <button class="@orderBtnStyle" @onclick="() => CreateOrder(Name, PhoneNumber, Address, Email)" title="Сделать заказ">
                    Заказать
                </button>    
            }
            else
            {
                orderBtnStyle += " disabled:opacity-50";
                <button class="@orderBtnStyle" disabled="disabled">
                    Заказать
                </button>    
            }
            
        </nav>
    }
    
</MainContainer>


@code
{
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    private string Name { get; set; }
    private string PhoneNumber { get; set; }
    private string Address { get; set; }
    private string Email { get; set; }

    private bool IsNameValid
    {
        get
        {
            if (string.IsNullOrWhiteSpace(Name))
            {
                return false;
            }

            if (Name.Length > 50)
            {
                return false;
            }

            return true;
        }
    }

    private bool IsPhoneValid
    {
        get
        {
            if (string.IsNullOrWhiteSpace(PhoneNumber))
            {
                return false;
            }

            if (PhoneNumber.Length > 11)
            {
                return false;
            }

            const string pattern = @"^7\d{10}$";
        
            return Regex.IsMatch(PhoneNumber, pattern);
        }
    }

    private bool IsAddressValid
    {
        get
        {
            if (string.IsNullOrWhiteSpace(Address))
            {
                return false;
            }

            if (Address.Length > 500)
            {
                return false;
            }

            return true;
        }
    }

    private bool IsEmailValid
    {
        get
        {
            if (string.IsNullOrWhiteSpace(Email))
            {
                return false;
            }

            if (Email.Length > 100)
            {
                return false;
            }

            try
            {
                _ = new MailAddress(Email);
                return true;
            }
            catch
            {
                return false;
            }
        }
    }
    
    private bool IsOrderButtonEnable => IsNameValid && IsPhoneValid && IsAddressValid && IsEmailValid;

    private void ClearShoppingCart()
    {
        AppState.ClearOrder();
        NavigationManager.NavigateTo("/");
    }

    private async Task CreateOrder(string name, string phone, string address, string email)
    {
        await AppState.CreateOrder(name, phone, address, email);
        NavigationManager.NavigateTo("/");
    }
}